# Copyright 2026 Flant JSC
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

kind: SSHHost
apiVersions:
- apiVersion: dhctl.deckhouse.io/v1
  openAPISpec:
    type: object
    description: |
      General dhctl SSH host config.
    additionalProperties: false
    required: [apiVersion,kind,host]
    x-examples:
      - apiVersion: dhctl.deckhouse.io/v1
        kind: SSHHost
        host: 172.16.0.0
    properties:
      apiVersion:
        type: string
        description: Version of the Deckhouse API.
        enum: [dhctl.deckhouse.io/v1]
      kind:
        type: string
        enum: [SSHHost]
      host:
        minLength: 1
        type: string
        description: Host.
